{erl_opts, [debug_info]}.

{project_plugins, [rebar3_ex_doc]}.

{hex, [{doc, #{provider => ex_doc}}]}.

{description, "OpenTelemetry instrumentation for the Nova web framework"}.
{licenses, ["MIT"]}.
{links, [{<<"GitHub">>, <<"https://github.com/novaframework/opentelemetry_nova">>}]}.

{ex_doc, [{proglang, erlang},
          {main, <<"readme">>},
          {extras, [<<"README.md">>, <<"LICENSE">>]},
          {source_url, <<"https://github.com/novaframework/opentelemetry_nova">>}]}.

{deps, [
    {opentelemetry_api, "~> 1.4"},
    {opentelemetry_api_experimental, "~> 0.5"},
    {opentelemetry_experimental, "~> 0.5"},
    {cowboy, "~> 2.13"}
]}.

{ct_compile_opts, [{i, "test/support"}]}.
{ct_first_files, ["test/support/fake_controller.erl", "test/support/test_metric_exporter.erl"]}.

{profiles, [
    {test, [
        {deps, [
            {opentelemetry, "~> 1.5"},
            {opentelemetry_experimental, "~> 0.5"},
            {nova, {git, "https://github.com/novaframework/nova.git", {branch, "master"}}},
            {cowboy, "~> 2.13"}
        ]},
        {extra_src_dirs, ["test/support"]}
    ]}
]}.
